:root{
    --font-secundaria: 'Comic Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #dddee8;
  }
  
  .form-register {
    width: 40rem;
    background: white;
    padding: 30px;
    margin: 2rem auto 3rem auto;
    border-radius: 10px;
    font-family: 'calibri';
    color: #000;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .form-register-inputs{
    width: 40rem;
    background: white;
    padding: 30px;
    margin: 1rem auto 0rem auto;
    border-radius: 10px;
    font-family: "Mulish", sans-serif;;
    color: #000;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .form-register-boton{
    width: 40rem;
    margin: 1rem auto 3rem auto;
    border-radius: 10px;
  }

  .form-register-boton a{
    text-decoration: none;
    color: #C40000;
    font-family: "Mulish", sans-serif;
    margin-left: 10px;
  }

  .form-register-inputs h2{
    font-size: 1.3rem;
    margin-bottom: 12px;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .form{
		width: 100%;
		height: 50px;
		max-width: 400px;
		position: relative;
		overflow: hidden;
	}

	.form input{
		width: 100%;
		height: 100%;
		background: none;
		color: #000;
		padding-top: 20px;
		border: none;
		outline: 0px;
	}

  .separator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

	.form .lbl-nombre{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		border-bottom: 1px solid #C40000;
	}

	.form .lbl-nombre:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 100%;
		border-bottom: 3px solid #FF0101;
		transform: translateX(-100%);
		transition: all 0.3s ease;
	}

	.text-nomb{
		position: absolute;
		bottom: 5px;
		left: 0;
		transition: all 0.3s ease;
		color: #C40000;
	}

	.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
		transform: translateY(-150%);
		font-size: 14px;
		color: #FF0101;
	}

	.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
		transform: translateX(0%);
	}

  .header-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
  }

  .custom-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #FF0101;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0056b3;
}